<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración - Full Car Wash</title>
    <link rel="stylesheet" href="../static/dashboard.css">
    
</head>
<body>

    <!-- Barra Superior -->
    <header class="navbar">
        <div class="container-fluid">
            <span id="dateTime" class="me-auto">Fecha y Hora</span>
            <span>Usuario: {{ session['user'] }}</span>
        </div>
    </header>
    

    <!-- Barra Lateral Derecha -->
    <div class="barra-lateral">
        <div class="nombre-pagina">
            <ion-icon id="autito" name="car-sport-sharp"></ion-icon>
            <span>Full Car Wash</span>    
        </div>
        <button class="boton-planilla" id="btnPlanilla">
            <ion-icon name="document-sharp"></ion-icon>
            <span>Planilla</span>
        </button>
        <nav class="navegacion">
            <ul>
                <li>
                    <a href="#">
                        <ion-icon name="person-sharp" id="btnClientes"></ion-icon>
                        <span>Clientes</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="car-sharp"></ion-icon>
                        <span>Vehiculos</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="people-sharp"></ion-icon>
                        <span>Personal</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <ion-icon name="person-sharp"></ion-icon>
                        <span>Otros</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <main id="bienvenida">
        <h1>Bienvenido al software personalizado de Full Car Wash</h1>
        <p>¡que tengas una excelente jornada!</p>
        
        <!-- Contenedor para el contenido de planilla -->
        {% if planilla_content %}
        {{ planilla_content | safe }}
        {% endif %}

    </main>


    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/dashboard.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
