<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planilla de Servicios - Full Car Wash</title>
    <link rel="stylesheet" href="../static/planilla.css">
</head>
<body>
    <h1>Planilla de Servicios</h1>
    <div class="botonera">
        <button class="boton-nuevo" id="btnAgregarServicio">
            <ion-icon name="add-outline"></ion-icon>
            <span>Nuevo</span>
        </button>
        <button class="boton-lavador" id="btnAgregarLavador">
            <ion-icon name="person-add-outline"></ion-icon>
            <span>Lavador</span>
        </button>
        <button class="boton-revisar" id="btnRevisar">
            <ion-icon name="glasses-outline"></ion-icon>
            <span>Revisar</span>
        </button>
        <button class="boton-entregar" id="btnEntregar">
            <ion-icon name="key-outline"></ion-icon>
            <span>Pagar</span>
        </button>
        <button class="boton-eliminar" id="btnEliminar">
            <ion-icon name="trash-outline"></ion-icon>
            <span>Eliminar</span>
        </button>
    </div>

    <table>
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Patente</th>
                <th>Hora Ing.</th>
                <th>Servicio</th>
                <th>Lavador</th>
                <th>Total</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% if servicios %}
                {% for service in servicios %}
                <tr>
                    <td>{{ service[1] }}</td>  
                    <td>{{ service[4] }}</td> 
                    <td>{{ service[8] }}</td>
                    <td>{{ service[6] }}</td>
                    <td>{{ service[5] }}</td>
                    <td>${{ service[10] }}</td> 
                    <td>{{ service[11] }}</td> 
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="7" style="text-align: center;">No hay servicios disponibles.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</body>
</html>